{% extends 'base.html' %}


{% block title %}
    Fake CSV Generator
{% endblock title %}


{% block css %}

{% endblock %}


{% block content %}
    {% include 'header.html' %}
    <h3 class="m-3">{{ head }}
        <a href="{% url 'new_schema' %}" style="font-size: 50%">
            Edit Schema
        </a>
    </h3>
    <form action="{% url 'generator' %}" method="post">
        {% csrf_token %}
        <table class="table table-bordered t_width_high ml-3" id="gen_table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Column name</th>
                <th scope="col">Column type</th>
            </tr>
            </thead>


            {% for key, val in res_dict.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ val.0 }}</td>
                    <td>{{ val.1 }}</td>
                </tr>

            {% endfor %}

        </table>


        <h3 class="m-3">
            Data sets

        </h3>

        <div class="float-sm-right mr-5">
            <label for="id_quant">Rows:</label>
            <input type="text" id="id_quant" name="quant" required value="500">
            <input type="submit" class="btn btn-primary" id="btn" value="Generate">
        </div>


        {% if files %}
        <table class="table table-bordered t_width_high ml-3" id="gen_table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Created</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            {% for file, date in files.items %}
                <tr>
                    <td>{{ date.1 }}</td>
                    <td>{{ date.0 }}</td>
                    <td>
                        <p class="text-light bg-success">Ready</p>
                    </td>
                    <td><a href="{% url 'download' file %}" download>Download</a></td>
                </tr>
            {% endfor %}

        </table>
    {% endif %}



    </form>

    <script>
        var res = $('#gen_table td').get().map(function (e) {
            return $(e).text();
        });

        $("#result").html(res.join(','))
    </script>

{% endblock content %}
