{% extends 'base.html' %}


{% block title %}
    Login page
{% endblock title %}


{% block css %}

{% endblock %}


{% block content %}
    {% include 'header.html' %}


    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center offset-3">
                <form action="" method="post">
                    {% csrf_token %}
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}

                    <label for="id_name" class="mt-5">Enter your name:</label>
                    <input type="text" id="id_name" name="name" required class="form-control mb-3" placeholder="Username">

                    <label for="id_pass">Enter your password:</label>
                    <input type="password" id="id_pass" name="pass" required class="form-control mb-2" placeholder="Password">

                    <input type="submit" class="btn btn-primary float-sm-right m-3" id="btn" value="Login">

                </form>

            </div>
        </div>
    </div>

{% endblock content %}
