{% extends 'base.html' %}


{% block title %}
    Fake csv Generator
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}
    {% include 'header.html' %}


    <form action="{% url 'new_schema' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success float-sm-right m-3">Submit</button>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="m-3">{{ head }}</h3>
                    <label class="my-1 mr-2 col-md-6" for="id_name">Name</label>
                    <input type="text" id="id_name" name="name" required class="form-control  col-md-6">

                    <label class="my-1 mr-2 col-md-6" for="sel">Column separator</label>
                    <select class="custom-select my-1 mr-sm-2 col-md-6" id="sel" name="column_separator">
                        <option selected>Comma (,)</option>
                        <option value="1">Dot (.)</option>
                        <option value="2">Slash (/)</option>
                        <option value="3">Backslash (\)</option>
                    </select>

                    <label class="my-1 mr-2 col-md-6" for="str">String character</label>
                    <select class="custom-select my-1 mr-sm-2 col-md-6" id="str" name="string_character">
                        <option selected>Double-quote (")</option>
                        <option selected>Single-quote (')</option>
                    </select>

                    <h3 class="m-3 mt-5">Schema columns</h3>
                    <div class="table-responsive">
                        <table style="width:100%">
                            <tr>
                                {% for field in form %}
                                    <td class="t_width">
                                        {{ field.label|title }}
                                        {{ field }}
                                    </td>

                                {% endfor %}
                                <td>
                                    <a href="#" class="del_color" onclick="SomeDeleteRowFunction(this)">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <a class="btn btn-primary" id="insertRow" href="#">Add new row</a>

                </div>
            </div>
        </div>

    </form>



    <script>


        window.SomeDeleteRowFunction = function SomeDeleteRowFunction(o) {
            var p = o.parentNode.parentNode;
            p.parentNode.removeChild(p);
        }


        $(function () {

            // Start counting from the third row
            var counter = 3;

            $("#insertRow").on("click", function (event) {
                event.preventDefault();

                var newRow = $("<tr>");
                var cols = '';

                // Table columns

                cols += '<td><label for="id_name">Column name</label><input type="text" id="id_name" name="column_name" required class="form-control"></td>';
                cols += '<td><label for="sel">Type</label><select class="custom-select" id="sel" name="type"><option selected>Full name</option><option value="1">Integer</option><option value="2">Company</option><option value="2">Job</option> <option value="3">Any type</option></select></td>';
                cols += '<td><label for="id_from">From</label><input type="number" id="id_from" name="_from" required class="form-control t_width_low"></td>';
                cols += '<td><label for="id_to">To</label><input type="number" id="id_to" name="to" required class="form-control t_width_low"></td>';
                cols += '<td><label for="id_order">Order</label><input type="number" id="id_order" name="order" required class="form-control"></td>';
                cols += '<td><a href="#" class="del_color" onclick="SomeDeleteRowFunction(this)">Delete</a></td>';

                // Insert the columns inside a row
                newRow.append(cols);

                // Insert the row inside a table
                $("table").append(newRow);

                // Increase counter after each row insertion
                counter++;
            });

            // Remove row when delete btn is clicked
            $("table").on("click", "#deleteRow", function (event) {
                $(this).closest("tr").remove();
                counter -= 1
            });
        });


        document.getElementById('sel').addEventListener('change', function () {
            if (this.value == 1) {
                document.getElementById('id_from').visible = false;
            } else {
                document.getElementById('id_from').visible = true;
            }
        });

    </script>
{% endblock content %}
